/* Override button styling */
.btnPrimary {
    background: #212529;
    color: #d5dfe9;
    border: 0px;
    white-space: nowrap; /* To prevent the text from breaking into a new line */
    position: relative;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }