/*Button styling*/
.btnSearchLense{
    color: #A66776;
    border: 1px solid #495057;
    background-color: #212529;

}

.btnSearchLense:hover {
    color: #d5dfe9;
}

.btnCustomReadMore {
    background-color: #A66776; 
    color: #fff;
}

.btnCustomReadMore:hover {
    background-color: #d47e92;
}